*{
  margin: 0px;
  padding: 0px;
  background-color: #353341;
}
body{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content{
  height: 300px;
  width: 300px;
  position: relative;
}

.envelope{
  height: 200px;
  width: 300px;
  background-color: white;
  position: absolute;
  bottom: 0px;
  box-shadow: 10px 10px 10px;
  
}
.flap{
  height: 0px;
  width: 0px;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
  border-bottom: 100px solid white;
  background-color: transparent;
  position: absolute;
  left: 0;
  top: -100px;
  transform-origin: bottom;
  transition: transform 0.5s ease-in-out;
  transform: rotatex(180deg);
  z-index: 2;
}
.flap.open{
  transform: rotatex(0deg);
}
.upletter{
  position: absolute;
  width: 300px;
  height: 200px;
  background-color: rgb(228, 164, 175);
  bottom: 0;
  clip-path: polygon(0% 0%, 50% 50%, 100% 0%, 100% 100%, 0% 500%);
  z-index: 5;
}
.letter{
  position: absolute;
  height: 200px;
  width: 300px;
  background-color: #f19a9a;
  bottom: 0;
  z-index: 1;
  transition: transform 2s ease-in-out;
  transform: translatey(0px);
  display: flex;
  justify-content: center;
  align-items: center;

}
.letter.moveletter{
  animation: moveup 2s ease-in-out, movescale 2s ease-in-out 2s forwards;
  z-index: 3;
  
}


button{
  position: absolute;
  bottom: -50px;
  left: 40%;
  height: 30px;
  width: 90px;
  border: none;
  border-radius: 5px;
  background-color: yellow;
  transition: 2s ease;
  transform-origin: top left;
  display: none;
}
button:hover{
  animation:  hoverEffect 2s ease-in-out;
  
}

@keyframes hoverEffect {
  0% {
    background-color: #FF1493;
    transform: scale(0.9);
  }
  100% {
    background-color: yellow;
    transform: scale(1);
  }
}
@keyframes moveup {
  0%{
    transform: translateY(0px);
  }
  100%{
    transform: translateY(-200px);
  }
}

@keyframes movescale{
  0%{
    transform: translateY(-200px) rotate(0deg);
    z-index: 6;
  }
  100%{
    transform: translateY(0px) rotate(-90deg) scale(1.4);
    z-index: 6;
  }

}

.hello{
  background-color: #f19a9a;
  height: 100%;
  width: 100%;
}

#letter_content{
  background-color: #f19a9a;
  color: white;
  font-size: 1.4rem;
  transform: rotate(90deg);
  

}
#next_letter{
  background-color: #f19a9a;
  color: white;
  font-size: 1rem;
  transform: rotate(90deg);
  display: none;
 
}


